.navbar {
    background-color: #852135;
    border: 1px solid #ffffff;
}
 
.navbar .navbar-brand{
    color: white;
}

.page-title h1{
    font-size: 65px;
    text-shadow: 0 0 8px #852135;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.homepage-content {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homepage-content h1 {
    font-size: 50px;
    text-shadow: 0 0 8px #852135;
}

.homepage-content p {
    font-size: 25px;
}

.questionnaire {
    font-size: 30px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn btn-primary {
    background-color: #852135;
    padding: 0;
    border: none;
    color: white;
}

.helpful-links {
    font-size: 30px;
    
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}




