html {
  height: 130%;
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

.navbar {
  background-color: #852135;
  border: 1px solid #ffffff;
  font-size: 30px;
}

.navbar .navbar-brand {
  color: white;
}
.navbar img {
  border-radius: 50%;
  margin-right: 25px;
}

.page-title h1 {
  font-size: 65px;
  text-shadow: 0 0 8px #852135;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 0%;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.homepage-content {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homepage-content h1 {
  font-size: 50px;
  text-shadow: 0 0 8px #852135;
}

.homepage-content p {
  font-size: 25px;
}

.questionnaire {
  font-size: 30px;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn btn-primary {
  background-color: #852135;
  padding: 0;
  border: none;
  color: white;
}

.helpful-links {
  font-size: 30px;

  width: 100%;
  margin-bottom: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chart-container-bs {
  padding: 1em;
  box-sizing: border-box;
  max-width: 1000px;
  margin: auto;
  margin-left: 6%;
  height: 110%;
  font-family: "Montserrat", sans-serif;
}

.chart-container-bs .ol {
  list-style: none;
}

.grade-level {
  color: #852135;
}

.semester-header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.class-list {
  list-style: none;
}

.class-list-item {
  font-weight: normal;
  box-shadow: #48f44d;
  margin-bottom: 15%;
}

#dialog {
  position: relative;
  width: 80%;
  text-size-adjust: 200%;
}

#prereqID {
  color: #48f44d;
}

/*Columns for degree flow chart*/
.container {
  width: 100%;
  overflow: hidden;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}
