{% extends 'base.html' %}

    {% block content %}
    <div class="page-title">
        <h1><br>About Us</h1>
        </div>
        <div class="container text-center">
            <div class="row align-items-start">
              <div class="col">
                <h1><br>Derek</h1>
                <img src="static/img/Oda_Headshot.JPG" height="300" width="300" alt="Derek Headshot">
                <p style="font-size: 20px"><br>Me Derek. Me lift. Me code.</p>
                </div>
              <div class="col">
                <h1><br>Manny</h1>
                <img src="static/img/Stick_Figure.svg" height="300" width="300" alt="Manny Picture">
                <p style="font-size: 20px"><br>I'm Manny. I enjoy the finer things in life like Hentai and Hentai.</p>
                </div>
              <div class="col">
                <h1><br>Mateo</h1>
                <img src="static/img/orijesus.jpg" height="300" width="300" alt="Mateo Picture">
                <p style="font-size: 20px"><br>Hello there! I am Mateo Romero, I do the program, I do the game dev, I do violin and piano. I can 
                  also speak Japansese, and much like Sir Redfoo, 僕は毎日シャフリングをしている</p> 
                </div>
              </div>
            </div>
          </div>
    {% endblock %}