{% extends 'base.html' %}

    {% block content %}
    <div class="page-title">
        <h1><br>About Us</h1>
        </div>
        <div class="container text-center">
            <div class="row align-items-start">
              <div class="col">
                <h1><br>Derek</h1>
                <img src="static/img/smallboi.PNG" height="400" width="auto" alt="Derek Picture">
                <p style="font-size: 20px"><br>Me Derek. Me lift. Me code.</p>
                </div>
              <div class="col">
                <h1><br>Manny</h1>
                <img src="static/img/Manny_sexy.jpg" height="400" width="auto" alt="Manny Picture">
                <p style="font-size: 20px"><br>I'm Manny. I enjoy the finer things in life like fine dinning.<br>Made with ChatGPT</p>
                </div>
              <div class="col">
                <h1><br>Mateo</h1>
                <img src="static/img/orijesus.jpg" height="400" width="400" alt="Mateo Picture">
                <p style="font-size: 20px"><br>Hello there! I am Mateo Romero, I do the program, I do the game dev, I do violin and piano. I can 
                  also speak Japansese, and much like Sir Redfoo, 僕は毎日シャフリングをしている</p> 
                </div>
              </div>
            </div>
          </div>
    {% endblock %}