{% extends 'base.html' %}

    {% block content %}
    <script src="scripts.js"></script>

    <div class="page-title">
        <h1>Default Degree Plan</h1>
        <h2></h2>
    </div>

    <div class="chart-container-bs">
        <h1 class="level-1-box">Bachelor of Science</h1>
        <ol class="level-2-wrapper">
            <li>
                <h2 class="level-2-box">Freshman & Sophomore</h2>
                <ol class="level-3-wrapper">
                    <li>
                        <h3 class="level-3-box">Semester 1</h3>
                        <ol class="level-4-wrapper">
                            <li>
                                <h4 class="level-4-box">CS 172</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">ENGL 1110G</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">MATH 1511G</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">CS 271</h4>
                            </li>
                            <h3 class="level-3-box">Semester 2</h3>
                            <li>
                                <h4 class="level-4-box">CS 273</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">MATH 1521 or 1521H</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">Area IV Course</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">Area V Course</h4>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h3 class="level-3-box">Semester 1</h3>
                        <ol class="level-4-wrapper">
                            <li>
                                <h4 class="level-4-box">CS 272</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">CS 278</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">COMM 1115G</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">ENGL 2210G</h4>
                            </li>
                            <h3 class="level-3-box">Semester 2</h3>
                            <li>
                                <h4 class="level-4-box">CS 370</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">CS 372</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">MATH 2415 or 480</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">Area VI Course</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">A ST 311</h4>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                <h2 class="level-2-box">Junior & Senior</h2>
                <ol class="level-3-wrapper">
                    <li>
                        <h3 class="level-3-box">Semester 1</h3>
                        <ol class="level-4-wrapper">
                            <li>
                                <h4 class="level-4-box">CS 371</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">CS 471</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">MATH Elective</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">Lab Sci Elective 1</h4>
                            </li>
                            <h3 class="level-3-box">Semester 2</h3>
                            <li>
                                <h4 class="level-4-box">CS 482</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">CS Upper Elective</h4>
                            </li>
                            
                            <li>
                                <h4 class="level-4-box">Lab Science Elective 2</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">VWW x2</h4>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h3 class="level-3-box">Semester 1</h3>
                        <ol class="level-4-wrapper">
                            <li>
                                <h4 class="level-4-box">CS 448 or 449</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">CS 419</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">Lab Sci Elective</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">CS Upper Elective</h4>
                            </li>
                            <h3 class="level-3-box">Semester 2</h3>
                            <li>
                                <h4 class="level-4-box">CS 474</h4>
                            </li>
                            <li>
                                <h4 class="level-4-box">CS 372</h4>
                            </li>
                        
                            <li>
                                <h4 class="level-4-box">Upper Elective</h4>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </div>

        
    {% endblock %}