{% extends 'base.html' %}

{% block content %}

  <div class="homepage-content">
    <h1><br>Necessary Objective Course Aid Planning (NO CAP)</h1>
    <p>&#x2022; NO CAP is a tool for new students at New Mexico State University that want a better registration experience.</p>
    <p>&#x2022; You can customize your course schedule based on your intended degree program and previous course credit.</p>
    <p>&#x2022; You will be provided with a course flowchart that will assist in building your degree roadmap.<br><br></p>
    <img src="https://nmsu.edu/assets/img/features/about_sunrisecampus.jpg" height="500" width="800" alt="NMSU">
  </div>

<div>{{secret|safe}}{{audio}}</div><!--Use of Jinja example can use other examples -->
<audio id="click-sound"><source src="static/sounds/sq2.mp3" type="audio/mpeg"></audio>'
{% endblock %}